.container{
    position: fixed;
    bottom: 0;
    right: 0;
    min-height: 80px;
    width: 500px;
    background-color: grey;
    border: 5px solid black;
    .ul{
        list-style: none;
        max-height: 200px;
        overflow-y: auto;
    }
    .totalRate{
        font-size: 26px;
        font-weight: bold;
        padding-left: 35px;
    }
}